
 div{
   	height: 250px;
	width: 200px;
	text-align:inherit;
	font-size:15px;
    border :#FF0040 5px solid;
    }
 h1{
   	font-size: 20px;
   	text-align:inherit;
   }
 h2{
 	font-size: 20px;
 	text-align: inherit;
   }
   h3{
   	font-size: 20px;
   	text-align: inherit;
   }