
 div{
   	height: 210px;
	width: 190px;
	text-align:inherit;
	font-size:12px;
    border :purple 2px dashed;
    }
 h1{
   	font-size: 13px;
   	text-align:center;
   }
 h2{
 	font-size: 13px;
 	text-align: center;
   }
   h3{
   	font-size: 13px;
   	text-align: center;
   }